[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/themes/hugo-tania"]
	path = themes/themes/hugo-tania
	url = https://github.com/WingLim/hugo-tania
